* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f4f4f4;
    line-height: 1.8;
    color: #333;
}

.container {
    max-width: 960px;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 10px rgba(32, 26, 26, 0.1);
    padding: 20px;
}


.hero-banner {
    background: url('coffeebeans.jpg') center/cover no-repeat;
    color: white;
    padding: 50px 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.header img {
    width: 100%;
    height: auto;
    border-bottom: 5px solid #6B4226;
}

.main-heading {
    margin: 20px 0;
    font-size: 2rem;
    color: #6B4226;
}

h2 {
    font-family: 'Merriweather', serif;
    margin-bottom: 15px;
    color: #3e2723;
}

p {
    margin-bottom: 15px;
}

/* Centering section headings */
.centered-section h2 {
    text-align: center;
}

.introduction, .science, .equipment, .tips {
    margin-bottom: 30px;
}

.article-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Footer styling */
.footer {
    background-color: #6B4226;
    color: white;
    padding: 15px;
    margin-top: 30px;
}